.main-table {
    border: none;
    border-style: none;
}

.thumbnail{
    font-family: Arial,sans-serif;
    font-weight: 400;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    font-size: 1.063em;
    background-color: #fff;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #c9c9c9;
    box-shadow: 3px 3px 4px #c3c3c3;
}

.record-metadata-span {
    /*vertical-align: top;*/
    width: 100%;
    display: inline-block;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-size: 1.063em;
    color: #333;
    font-family: Arial,sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}
.record-metadata{
    padding-left: 25px;
}

.title {
    color:#111;
    font-family: Arial,sans-serif;
    font-size:1.75em;
    font-weight:400 !important;
    padding: 0;
    margin-bottom: .75em;
    padding-left: 25px;
    padding-top: 0;
}

.previewbox .record .recordheader {
    font-size: 18px;
    color: teal;
    padding-left: 25px;
    padding-bottom: 15px;
}

.previewbox .recordrow {
    padding-top: 5px;
    padding-bottom: 5px;
}

.previewbox .recordrow .recordlink {
    color: green;
}

.previewbox .record .rowheader {
    font-weight: bold;
}

.previewbox .additional {
    vertical-align: top;
    padding-left: 10px;
    border-left: dotted 1px;
}

.previewbox .additional .header {
    font-weight: bold;
}

